.style_contianer{
  width: 75%;
  margin-top: 1rem;
}

.footer_subscribe_container {
  padding: 3rem;
  left: 54.34%;
  right: 9.6%;
  top: 84.92%;
  bottom: 6.62%;
  background: rgba(32, 60, 134, 0.05);
  mix-blend-mode: normal;
  width: 415.45px;
  height: 239px;
}

.footer_subscribe_container_title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #0a142f;
}

.allign_footer {
  margin-top: 3rem;
}

.email_input_field {
  left: 58.82%;
  right: 14.72%;
  top: 87.38%;
  bottom: 10.98%;
  background: #ffffff;
  border: 1.5px solid #e7e8f2;
  box-sizing: border-box;
  border-radius: 6px;
  width: 243.37px;
  height: 46.32px;
}

.email_submit_button {
  left: 79.95%;
  right: 14.72%;
  top: 87.38%;
  bottom: 10.98%;
  /* Lift Blue */
  background: #0081fe;
  border-radius: 8px;
  height: 42px;
  text-align: center;
  padding-top: 0.4rem;
  width: 61.46px;
  color:white;
}

.email_input_button_container {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.li_style {
  height: 36.43px;
  left: 11.81%;
  right: 83.55%;
  top: calc(50% - 36.43px / 2 + 1067.93px);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0a142f;
  opacity: 0.5;
}
