body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.my-nav {
  z-index: 999;
  width: 100%;
  background-color: #0081fe;
}

.my-nav-home {
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: none;
}

.pet-carousel {
  margin-left: 10em;
  margin-right: 10em;
}
